body {
    background-color: #FFF;
}

header {
    position:relative;
    top:-15px;
}

.mobile-menu {
    float:right;
    display: none;
    padding-right: 25px;
}

@media (max-width: 40em) {
    .mobile-menu {
        display: block;
    }
    .nav-global-secondary ul {
        display: none;
    }

}

a, a:link, a:hover, a:focus, a:active, a:visited {
  border-bottom: none;
  border-color: #329ED5;
  color: #329ED5;
}

.nav-global-secondary li a:hover {
  color: #FF8552 !important
}

.logo-wrap {
	float: right;
	width: 300px;
	text-align: right;
}

.highlight blockquote, .highlight > p, .highlight blockquote:before
{
	color:#000000;
}


@media (min-width: 40em){
.highlight-with-avatar
{
	padding-left: 0;
}
}

table a:link, table a:visited, table a:hover, table a:focus, table a:active {
  color: #FF8552;
  border-bottom: solid 1px;

}

table {
  background-color: #f1f1f1;
  width: 100%;
}

#map {
	width: 100%;
	height: 450px;
}

@media (max-width: 40em) {
  #map {
    display: none;
  }
}

.slab-red {
	background-color: #FF8552;

}
.slab-lightblue {
	background-color: #329ED5;

}

.slab-green {
	background-color: #71CAD1;

}
.slab-grey {
	background-color: #E6E6E6;

}
.layout-breve {
	padding: 2.5em;
}


.layout-minor {
	margin-top: 16px;
	text-align: center;
}

.marker {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: white;
}

.marker:hover {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: white;
	position: relative;
	top:-50px;
	left:-50px;
}

td, th {
  border-bottom: 1px solid #e9e9e9;
  min-width: 120px;
  padding: 6px 32px 6px 0;
  text-align: left;
  vertical-align: top;
}

.masthead {
    height: 400px;
    background-color: #000;
}

.masthead:before {
	height: 100%;
    min-height: 400px;
    opacity: 0.4;
}

.masthead-xl .masthead-header:before {
    background-image: none;
}

.masthead-xl .page-title {
  margin-top: 25px;
}

.masthead-berlin::before {
    background-image: url("/images/berlin.jpg");
}

.masthead-sanfrancisco::before {
    background-image: url("/images/sanfrancisco.jpg");
}

.masthead-warsaw::before {
    background-image: url("/images/warschau.jpg");
}

.masthead-caribbean::before {
    background-image: url("/images/caribbean_.jpg");
}

.masthead-mexico::before {
    background-image: url("/images/mexico_.jpg");
}

.masthead-netherlands::before {
    background-image: url("/images/amsterdam.jpg");
}

.masthead-melbourne::before {
    background-image: url("/images/melbourne.jpg");
}

.masthead-pakistan::before {
    background-image: url("/images/karachi.jpg");
}
.masthead-xl .masthead-header:before {
	height: 100%;
}

.masthead-header {

    height: 400px;

}