body {
	background-color: #FFF;
}

header {
	position:relative;
	top:-15px;
}

a, a:link, a:hover, a:focus, a:active, a:visited {
  border-bottom: 1px solid;
  border-color: #329ED5;
  color: #329ED5;
}

.nav-global-secondary li a:hover, a:visited {
  color: #FF8552;
}

.logo-wrap {
	float: right;
	width: 300px;
	text-align: right;
}

.highlight blockquote, .highlight > p, .highlight blockquote:before
{
	color:#000000;
}


@media (min-width: 40em){
.highlight-with-avatar
{
	padding-left: 0;
}
}

#map {
	width: 100%;
	height: 450px;
}

@media (max-width: 40em) {
  #map {
    display: none;
  }
}

.slab-red {
	background-color: #FF8552;

}
.slab-lightblue {
	background-color: #329ED5;

}

.slab-green {
	background-color: #85FFC7;

}
.slab-grey {
	background-color: #E6E6E6;

}
.layout-breve {
	padding: 2.5em;
}


.layout-minor {
	margin-top: 16px;
	text-align: center;
}

.marker {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: white;
}

.marker:hover {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background-color: white;
	position: relative;
	top:-50px;
	left:-50px;
}

.masthead {

    min-height: 400px;
}

.masthead-berlin::before {
    background-image: url("/images/berlin.jpg");
    min-height: 400px;

}

.masthead-warsaw::before {
    background-image: url("/images/warschau.jpg");
    min-height: 400px;

}

.masthead-caribbean::before {
    background-image: url("/images/caribbean_.jpg");
    min-height: 400px;

}

.masthead-mexico::before {
    background-image: url("/images/mexico_.jpg");
    min-height: 400px;

}

.masthead-netherlands::before {
    background-image: url("/images/amsterdam.jpg");
    min-height: 400px;

}

.masthead-melbourne::before {
    background-image: url("/images/melbourne.jpg");
    min-height: 400px;

}

.masthead-pakistan::before {
    background-image: url("/images/karachi.jpg");
    min-height: 400px;

}
.masthead-xl .masthead-header::before {

	height: 400px;
}

.masthead-header {

    height: 400px;

}