<footer class="footer">
  <div class="container">
    <div class="footer-social has-text-centered">
      <ul>
        <li>
          <a href="https://www.facebook.com/letscodeforall/">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/CodeforAll">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCWD9S7drnf6v74YimdmlX1A">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li>
          <a href="https://medium.com/code-for-all">
            <i class="fab fa-medium"></i>
          </a>
        </li>
        <li>
          <a href="mailto://info@codeforall.org">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="content has-text-centered">
      <p>
        <small>Code For All, all rights reserved. Content licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY SA 4.0</a>.</small>
      </p>
    </div>
  </div>
</footer>
{% include scripts.html %}
