<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <small>Code For All, all rights reserved. Content licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY SA 4.0</a>.</small>
      </p>
    </div>
  </div>
</footer>
<script>
  document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });
    }

  });
</script>
{% include scripts.html %}
{% if page.js == "map" %}
<script src="{{ '/assets/js/map.js' | relative_url }}"></script>
{% endif %}

{% if page.js == "projects" %}
<script src="{{ '/assets/js/projects.js' | relative_url }}"></script>
{% endif %}
