<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Code for All</title>

  <meta name="description" content="An international network of organizations who believe that digital technology opens new channels for citizens to more meaningfully engage in the public sphere and have a positive impact on their communities.">
  <link rel="shortcut icon" href="/images/favicon.ico">

  <link rel="stylesheet" href="//style.codeforamerica.org/3/style/css/main.css">
  <link rel="stylesheet" href="//style.codeforamerica.org/3/style/css/layout.css" media="all and (min-width: 40em)">
  <link rel="stylesheet" href="/css/style.css">

{% include scripts.html %}

</head>
