  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Code for All</title>
    <meta name="description" content="An international network of organizations who believe that digital technology opens new channels for citizens to more meaningfully engage in the public sphere and have a positive impact on their communities.">
    <link rel="shortcut icon" href="{{ "/images/favicon.ico" | absolute_url }}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/bulma.css" | absolute_url }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | absolute_url }}">
  </head>
