<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="#" class="navbar-item">
      <img src="/images/code_for_all_logo_small.png">
    </a>
    <button class="button navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/chapters">Chapters</a>
      <a class="navbar-item" href="/projects">Projects</a>
      <a class="navbar-item" href="/resources">Resources</a>
      <a class="navbar-item" href="/blog">Blog</a>
      <a class="navbar-item" href="/joinus">Join us</a>
    </div>
  </div>
</nav>
