<header class="layout-breve">
  <div class="global-header-compact" role="banner">
    <a href="http://codeforall.org/" class="global-header-logo">
      <img src="/images/code_for_all_logo.png" />
    </a>
    <p class="global-header-tagline">An international network of <strong>civic innovators</strong>. </p>
  </div>
  <nav class="nav-global-secondary">
    <ul>
      <li class="nav-tier1">
        <a href="/about">About</a>
        <a href="/about">Summit</a>
      </li>
      <!-- <li class="nav-tier1">
        <a href="/partners">Official Partners</a>
      </li> -->
    </ul>
  </nav>
</header>
