<header class="layout-breve">
  <div class="global-header-compact" role="banner">
    <a href="http://codeforall.org/" class="global-header-logo">
      <img src="/images/code_for_all_logo.png" />
    </a>
  </div>
  <nav class="nav-global-secondary">
    <a class="mobile-menu" href="#">Menu</a>
    <ul>
      <li class="nav-tier1">
        <a href="/about">About</a>
      </li>
      <li class="nav-tier1">
        <a href="/summit">Summit</a>
      </li>
      <li class="nav-tier1">
        <a href="/participate">Participate</a>
      </li>
      <li class="nav-tier1">
        <a href="/resources">Resources</a>
      </li>
      <li class="nav-tier1">
        <a href="/partners">Official Partners</a>
      </li>
    </ul>
  </nav>
</header>
