<script>
  $.getJSON("http://codeforamerica.org/api/organizations/{{page.cfapiorgname}}", function(response){

    $.each(response.current_projects, function(i, project){
      var html = "<li class='icon-rocket'>";
      html += "<h3><a href=" + project.code_url +">" + project.name + "</a></h3>";
      html += "<p>" + project.description + "</p>";
      html += "</li>";
      $("#projects").append(html);
    });

    $.each(response.current_stories, function(i, story){
      var html = "<li class='icon-bullhorn'>";
      html += "<h3><a href=" + story.link +">" + story.title + "</a></h3>";
      html += "</li>";
      $("#stories").append(html);
    });

  });
</script>
