body {
    background-color: #FFF;
    font-family: Lato, sans-serif;
    font-size: 100%;
    padding: 1.5em;
}
.banner {
  padding-top: 2em;
  color: #0D71B4;
  font-size: 1.8em;
  text-shadow: 0 0 10px #fff;
}
header {
  background: url(https://img.codefor.nl/?url=https://i.imgur.com/rZH3viO.png) bottom left no-repeat,
              url(https://img.codefor.nl/?url=https://i.imgur.com/rZH3viO.png&rot=180) top right no-repeat;
}

.worldmap {
  width: 100%;
  height: 400px;
}
.navbar-hero {
  width:80%;
  margin: auto;
  border-bottom: none !important;
}
.banner em {
  color: #4DD7FB;
}
section {
  padding: 0 0 1rem 0 !important;
}
section h2 {
  color: #0D71B4 !important;
  font-size: 1.8em;
  line-height: 1.4em;
}

.navbar {
  z-index: 9999 !important;
}
.map-highlight > article {
  box-shadow: 0 2px 3px rgba(13, 113, 180, 1), 0 0 0 1px rgba(13, 113, 180, 1) !important;
}
.map-highlight h3 {
  font-weight: bold !important;
}
#map {
  width: 100%;
  height: 400px;
  background: #fff !important;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
/*i.pending::before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f110";
  color: #ccc !important;
}*/
i.success::before {
  color: #006e27 !important;
}

i.progress::before {
  color: #e48b42 !important;
}

i.failure::before {
  color: #c70028 !important;
}
i.unknown::before {
  color: #868686 !important;
}
.navbar-button {
  font-variant: small-caps;
}
.navbar-button.selected {
  color: #fff !important;
  background-color: #0D71B4 !important;
}
.button.is-highlight {
    background-color: #0D71B4;
    border-color: transparent;
    color: #fff;
}
.footer-social {
  margin: 40px 0;
}
.footer-social ul li a i:hover {
  color: #fff;
  background-color: #0D71B4;
}
.footer-social ul li a i {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  position: relative;
  color: #0D71B4;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social ul li {
  margin: 0 15px;
  display: inline-block;
}

/*
.navbar-button-selected, .navbar-button {
  display: block;
  background: #0D71B4;
  color: white;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #ddd;
  border-radius: 4px;
  margin: 1em;
  min-width: 6em;
  font-variant: all-small-caps;
}
.button.is-link {
  background: #4DD7FB !important;
  font-variant: all-small-caps;
}
.navbar-button:hover {
  color: #fff !important;
  background-color: #004775 !important;
}
.navbar-button-selected {
  color: #fff !important;
  background-color: #004775 !important;
}
.navbar-button-selected:hover {
  cursor: default;
}
*/
.footer{
  color: #ccc;
  padding: 1rem 1.5rem 1rem !important;
  background-color: transparent !important;
}
.case_study {
  background: #eee;
  color: #000;
}

.toolkit {
  background: hsl(204, 86%, 53%);
  color: #fff;
}
.principles {
  background: hsl(141, 71%, 48%);
  color: #fff;
}
.annual_report {
  background: hsl(48, 100%, 67%);
  color: #000;
}
.standard {
  background: hsl(0, 0%, 21%);
  color: #fff;
}
figure figcaption {
    font-style: italic;
}
.navbar {
  transition: all .6s ease;
  border-bottom: 1px solid rgba(219, 219, 219, 0.5);
}
.leaflet-marker-icon {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
}