<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}
  <body>
  {% include header.html %}
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li class="is-active"><a href="{{ page.url | relative_url }}">Chapters</a></li>
      </ul>
    </nav>
    <section class="section">
      <div class="container">
        <div id="map"></div>
        <div class="level">
          <p class="level-item has-text-centered">
            <span id="map-info">&nbsp;</span>
          </p>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
          {% assign i = 0 %}
          {% assign j = 1 %}
          {% for item in site.chapters %}
            {% if i == 0 %}
            <div id="chapter_set_{{ j }}"class="tile is-ancestor">
            {% endif %}
              <div id="{{ item.chapter }}" class="tile is-parent">
                <article class="tile is-child box">
                  {% assign i = i | plus: 1 %}
                  {% assign chapter = site.data.chapters[item.chapter] %}
                  <h3><a href="{{ item.url | relative_url }}">{{ item.title }}</a></h3>
                  {{ item.excerpt }}
                  {% assign social = chapter %}
                  {% include social.html %}
                </article>
              </div>
            {% if i == 3 %}
              {% assign i = 0 %}
              {% assign j = j | plus: 1 %}
            </div>
            {% endif %}
          {% endfor %}
          {% if i != 3 %}
            {% assign i = 0 %}

          </div>
          {% endif %}
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
