<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}
  <body>
  {% include header.html %}
  <section class="section">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{"/" | relative_url }}">Home</a></li>
        <li><a href="{{"/chapters" | relative_url }}">Chapters</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{ page.title }}</a></li>
      </ul>
</nav>
</section>
  <section class="section">
    <div class="container">
  <h2 class="title">{{ page.title }}</h2>
  {{ content }}
  {% assign chapter = site.data.chapters[page.chapter] %}
  {% if chapter.people %}
  <h2>People</h2>
  {% for person in chapter.people %}
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-96x96">
            <img src="{{ "/images/" | relative_url }}{{ person.photo }}"/>
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">{{ person.name }}</p>
          <p class="subtitle is-6">{{ person.role }}</p>
        </div>
      </div>
    </div>
  </div>


  {% endfor %}
  {% endif %}
</div>
</section>
  {% include footer.html %}
  </body>
</html>
