<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}
  <body>
  {% include header.html %}
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/blog' | relative_url }}">Blog</a></li>
        <li class="is-active"><a href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
      </ul>
    </nav>
    <section class="section">
      <div class="container">
      <article class="post">
        <div class="entry">
          {{ content }}
        </div>

        <div class="date">
          Written on {{ page.date | date: "%B %e, %Y" }}
        </div>
      </article>
      </div>
    </section>
    {% include footer.html %}
  </body>
</html>
