<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}
  <body>
  {% include header.html %}
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li class="is-active"><a href="{{ page.url | relative_url }}">Projects</a></li>
      </ul>
    </nav>
    <section class="section">
      <div class="container">
        <div class="content">
        <h2>Projects</h2>
        <table id="cfa-listings">
        <thead>
          <tr>
              <th></th>
              <th>Name</th>
              <th>Description</th>
              <th class="is-hidden-mobile">Organization</th>
            </tr>
        </thead>
        </table>
        <br/>
        <p class="has-text-centered">
            <a class="button is-large is-primary" href="http://codeforamerica.org/geeks/civicissues" target="_blank">Civic Tech Issue Finder</a>
            <a class="button is-large is-primary" href="https://helpwanted.team/code-for-all" target="_blank">Help wanted!</a>
          </p>
      </div>
    </div>
    </section>
    {% include footer.html %}
  </body>
</html>
