<!DOCTYPE html>
<html class="has-navbar-fixed-top">
{% include head.html %}
  <body>
  {% include header.html %}
  {% comment %}
    Don't use 'redirect_to' to avoid conflict
    with the page redirection plugin: if that is defined
    it takes over.
  {% endcomment %}
  <link rel="canonical" href="{{ page.redir_to }}"/>
  <meta http-equiv="refresh" content="0;url={{ page.redir_to }}" />
</head>
<body>
  <section class="section">
    <div class="container">
      <h1>Redirecting...</h1>
      <a href="{{ page.redir_to }}">Click here if you are not redirected.<a>
      <script>location='{{ page.redir_to }}'</script>
    </div>
  </section>
</body>
</html>